.text-heading-1 {
  font-size: 3.25rem;
}

.text-heading-2 {
  font-size: 2.625rem;
}

.text-heading-3-b {
  font-size: 2rem;
  font-weight: bold;
}

.text-heading-3-m {
  font-size: 2rem;
  font-weight: medium;
}

.text-heading-4-b {
  font-size: 1.5rem;
  font-weight: bold;
}

.text-heading-4-m {
  font-size: 1.5rem;
  font-weight: medium;
}

.text-heading-5-m {
  font-size: 1.25rem;
  font-weight: medium;
}

.text-heading-5-r {
  font-size: 1.25rem;
  font-weight: regular;
}

.text-body-m {
  font-size: 1rem;
  font-weight: medium;
}

.text-body-r {
  font-size: 1rem;
  font-weight: regular;
}

.text-body-small-m {
  font-size: 0.875rem;
  font-weight: medium;
}

.text-body-small-r {
  font-size: 0.875rem;
  font-weight: regular;
}

/* Smallest Text */
.text-smallest-m {
  font-size: 0.75rem;
  font-weight: medium;
}

.text-smallest-r {
  font-size: 0.75rem;
  font-weight: regular;
}
